<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Bootstrap Table CSS -->
    <link href="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.css" rel="stylesheet">

    <title>Django with Ajax</title>

    <style>
        .container{
            padding-top: 2vw;
            padding-bottom: 4vw;
        }
        .container-sm {
            padding-left: 18vw;
            padding-right: 18vw;
        }
    </style>
</head>

<body>
    
    <div class="container text-center">
        <h2>Django with Ajax</h2>
        <h5>A Single Page Application</h5>
    </div>


    <!-- form begin -->
    <div class="container-sm">
        {% block form %}
        <!-- content -->
        {% endblock form %}
    </div>
    <!-- form end -->

    <!-- table begin -->
    <div class="container-md">
        {% block table %}
        <!-- content -->
        {% endblock table %}
    </div>
    <!-- table end -->


    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>

    <!-- Bootstrap Table javascript -->
    <script src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.js"></script>

    <!-- ajax with vanila javascript -->
    <script>

    </script>

</body>

</html>